body{
  background-image: url("http://effectacoaching.com.br/wp-content/uploads/2015/10/super-heroi-GG-1.jpg");
	 height: 50%; 
/* Efeito parallax */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
p {
  font-family: Arial;
color: green;
  }
div.relative{
  position: relative;
  right: 30px;
  border: 3px solid #73AD21;
}
input, textarea {
   
    font: 1em sans-serif;

    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    border: 1px solid #999;
}
h1 {
  color: green;
}

h2.destination {
  font-family: cursive;
}

.title {
  color: green;
}

.uppercase {
  text-transform: uppercase;
}
.publish-time {
  color: green;
}
.big{
	font-family:big;
}
.cursive {
  font-family: cursive;
}

.capitalize {
  text-transform: capitalize;
}

.description h5 {
  color: green  ;
}

h5,
p{
  font-family: Georgia;
}
