.menu{
    border: 1px solid black;
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    color: crimson;
    font-size:1.4rem;
}
.shows-mais-votados {
    -webkit-column-count: 3;
    column-count: 1;
    text-align: center;
}
.serie{
    font-family: 'Courier New', Courier, monospace;
    
}
.pic{
    border-radius: 50%;
    text-align: center;
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
}
.pic img{
    position: relative;
    bottom: 0%;
    width: 100%;
    box-shadow:firebrick;
}
.propaganda img{
    height: 100px;
    width: 50%;
}

.navbar-collapse {
    background-color: aqua;
}