.sinopse{
    width: 33.3%;
    margin-bottom: 82px; 
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 6px 6px 5px #aaaaaa;
}

.sinopse p{
    padding: 20px;
}

.sinopse h4{
    text-align: center;
}

.tbbt{
    margin-left: 20px; 
}

.imagem-serie {
    margin: 25%;
}

.logo {
    margin-right: 15px;
}