.invisible
{
    display: block;
}

.invisible:hover
{
    display: none;
}

body
{
    background-color: white;
}

.text_color
{
    color: black;
}

.resize_image_medium
{
    width: 300px;
	height: 300px;
}

.round_anything
{
	
    border-radius: 50%;
}

.gap_border_image
{
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.horizontal
{
    width: 250px;
    overflow: scroll;
}

.card
{
	text-align: center;
    display: inline-block;
    width: 500px;
    margin: 15px;
	padding: 15px;
    border: 1px solid black;
    box-shadow: 10px 10px 20px gray;

}

@media (min-width: 300px) and (max-width: 500px)
{
    article:nth-child(2):hover
    {
        background-color: blue;
    }
}

@media (max-width: 700px)
{
    .logo
    {
        width: 100px;
    }
}