@charset "UTF-8";
.imagens {
    display: block;
    float: left;
    border: 0.5px solid black;
    width: 150px;
    height: 150px;
    margin: 7px;
}

.imagens:hover {
    -webkit-transform: scale(1.2);
}
