/*Limpar formatações padrão*/
* {
    margin: 0;
    padding: 0;
}

#interface {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

#interface h2 {
    text-align: left;
    padding-left: 300px;
    margin-top: 100px;
}

#rodape {
    display: block;
    text-align: center;
    clear: both;
    padding: 20px 10px 10px 20px;
}

#barra {
    position: fixed;
    width: 100%;
    height: auto;
    background-color: #b9c941;
    border: 1px solid #000;   
    border-radius: 3px;
    padding: 10px 0px 0px 10px;
}

#barra h1 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 24px;
	margin: auto;
	float: left;
	color: #fff;
}

.barra-menu {
    margin: 0 auto 0 auto;
    position: relative;
    background-color: #b9c941;
    height: 40px;
    width: 720px;
}

.vitrine {
    display: block;
    float: left;
    height: auto;
    width: 750px;
    border: 1px dashed gray;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 30px;
}

p {
	font-size: 13px;
}

figure {
    display: block;
    border: 1px solid #000;
    border-radius: 5px;
    width: 165px;
    height: 165px;
    float: left;
    margin: 10px;
    margin-bottom: 60px;
    text-align: center;
}

#carrinho {
    display: block;
    float: right;
    border: 1px solid #000;
    border-radius: 10px;
    width: 350px;
    height: 500px;
    padding: 5px;
}

#carrinho h3 {
    text-align: center;
    padding-bottom: 20px;
}

a {
    text-decoration: none; /*retira o underline*/
    padding: 10px 15px;
    margin: 5px;
}

a:link {
    color: #000;
}

a:visited {
    color: #000;
}

a:hover {
    color: #000;
    background: #fff;
    border-radius: 10px;
}

a:active {
    color: #000;
}

input {
    border-radius: 15px;
}

ul {
    margin-left: 50px;
}

ul li {
    margin-bottom: 20px;
}
