 .invisivel:hover {
     display: none;
 }

 .invisivel {
     display: inline-block;
 }

 .textColor {
     color: aquamarine;
 }
 
 .tamanhoMedioImagem {
    width: 300px;
    height: 300px;
    margin: 30px;
    padding: 10px;
    border: solid 1px black;
 }

 .elementoCircular {
    border-radius: 50%;
 }

 .horizontal {
     width: 50px;
 }

 .card {
     text-align: center;
     display: inline-block;
     width: 500px;
     margin: 50px;
     padding: 15px;
     border: solid 1px black;
     box-shadow: 10px 10px 20px gray;
 }

 @media (min-width: 320px) and (max-width: 500px) {
    article:nth-child(2):hover {
        background-color: gray;
    }
}

@media (max-width: 700px) {
    .logo {
        width: 100px;
    }
}